<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% include header.html %}

<body>
<h1>Heading</h1>



<h2>Responsive Web Design Certification (300 hours) - Responsive Web Design Projects</H2>
<p>This section shows application of skills, principles and concepts I have learned so far. (eg HTML, CSS, Visual Design, Accessibility, etc.)</p>
<h3>Build a Tribute Page</h3>
<h3>Build a Survey Form</h3>
<h3>Build a Product Landing Page</h3>
<h3>Build a Technical Documentation Page</h3>
<h3>Build a Personal Portfolio Webpage</h3>


Javascript Algorithms And Data Structures Certification (300 hours)
Palindrome Checker
Roman Numeral Converter
Caesars Cipher
Telephone Number Validator
Cash Register

Front End Libraries Certification (300 hours)
Build a Random Quote Machine
Build a Markdown Previewer
Build a Drum Machine
Build a JavaScript Calculator
Build a Pomodoro Clock

Data Visualization Certification (300 hours)
Visualize Data with a Bar Chart
Not PassedVisualize Data with a Scatterplot Graph
Not PassedVisualize Data with a Heat Map
Not PassedVisualize Data with a Choropleth Map
Not PassedVisualize Data with a Treemap Diagram

Apis And Microservices Certification (300 hours)
Timestamp Microservice
Not PassedRequest Header Parser Microservice
Not PassedURL Shortener Microservice
Not PassedExercise Tracker
Not PassedFile Metadata Microservice

Information Security And Quality Assurance Certification (300 hours)
Metric-Imperial Converter
Not PassedIssue Tracker
Not PassedPersonal Library
Not PassedStock Price Checker
Not PassedAnonymous Message Board


<h2>Section Header Under Construction</h2>
<p>Section Under Construction</p>



</body>

{% include footer.html %}
</html>
